# ==================================================
# APPLICATION
# ==================================================

# Internal application token
AUTHORIZED_TOKEN=your_authorized_token_here


# ==================================================
# DATABASE CONNECTIONS
# ==================================================
# Supported types:
# mysql | postgres | sqlserver | hana
# ==================================================

# DATABASE 001
DB_001_TYPE=
DB_001_HOST=
DB_001_PORT=
DB_001_DATABASE=
DB_001_USER=
DB_001_PASSWORD=

# DATABASE 002
DB_002_TYPE=
DB_002_HOST=
DB_002_PORT=
DB_002_DATABASE=
DB_002_USER=
DB_002_PASSWORD=


# ==================================================
# API INTEGRATIONS
# ==================================================
# AUTH TYPES:
# bearer -> Fixed bearer token
# login   -> Authentication endpoint required
# ==================================================

# API 001 - Bearer Example
API_001_BASE_URL=http://localhost:8001/
API_001_HEADERS={"Authorization":"Bearer your_token_here","Content-Type":"application/json"}

# API 002 - Login Example
API_002_BASE_URL=
API_002_AUTH_TYPE=login
API_002_AUTH_URL=Login
API_002_AUTH_METHOD=POST
API_002_AUTH_BODY={}
API_002_TOKEN_PATH=SessionId
API_002_HEADERS={"Authorization":"","Content-Type":"application/json"}